/wallet
/video
/download/lbtc-fullnode-wallet-centos7.1-x64-v1.2.0.tar.gz
/download/lbtc-fullnode-wallet-ubuntu16.04-x64-v1.2.0.tar.gz
/download/lbtc-wallet-green-v0.0.8.zip
/download/MyLBTC-v1.0.0-20181101.apk
/download/WalletUpdate.pdf
/admin