@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6nzp6r');
  src:  url('fonts/icomoon.eot?6nzp6r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6nzp6r') format('truetype'),
    url('fonts/icomoon.woff?6nzp6r') format('woff'),
    url('fonts/icomoon.svg?6nzp6r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wiki-58:before {
  content: "\e900";
}
.icon-ChainNode-logo:before {
  content: "\e901";
}
.icon-LBTC-home-hui-65:before {
  content: "\e902";
}
